body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: gray;
  width: 750px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #f8f8f8;
  width: 400px;
  height: 750px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px 5px black;
}

.box_top {
  width: 400px;
  height: 400px;
  background-image: url(src/animal_background.JPG);

  background-size: cover;
  border-radius: 40px;
}

.box_gradient {
  width: 400px;
  height: 200px;
  position: absolute;
  background-color: white;
  margin-top: 200px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1)
  );
}

.box_top_nav {
  display: flex;
  justify-content: space-between;
}

.box_top_nav_time {
  margin-left: 25px;
  margin-top: 10px;
  font-weight: 700;
}

.box_top_nav_font {
  margin-right: 25px;
  margin-top: 10px;
}

.box_top_header {
  display: flex;
  justify-content: space-between;
}

.box_top_header_left {
  margin-left: 25px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 25px;
}

.box_top_header_right {
  margin-right: 25px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 25px;
}

.box_top_4box {
  display: flex;
}

.box_top_4box_image {
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-top: 235px;
  border-radius: 10px;
  z-index: 2;
}

.box_top_4box_image:nth-child(1) {
  background-image: url(https://lh3.googleusercontent.com/proxy/aFQ0udIs_oLCX6sSxLjjJUUCs5y5HJnehvm9fCsVsqvWsNa60SU8u--YmooMhRNx7BklvpRgCe_J75f-oSVHwDAhjuUeD2e15-TFgvq2ZLvAfM44eaOjmAkBnZ-p1qsmLPsLTf_PLeDNqteWs3JctQJYSr3t3ySSDLzQ92OTQWGkXeMzXZAiZ0wh8xaZWNCcvXp_4KcZDTm21QHsQQYShZukgUMRfjWfTQvMyPdXA-YB-3kT3Rc4Jhah69McCZLN1u1HPEsCitL9oq0pYc4ra2Nqm9Fnw9RYf2tpiGQMZHowzOENFUuP4QVLA9zr);
  background-size: cover;
  margin-left: 145px;
}

.box_top_4box_image:nth-child(2) {
  background-image: url(https://pbs.twimg.com/profile_images/1188854305199017984/iXvYp0XZ_reasonably_small.jpg);
  background-size: cover;
}
.box_top_4box_image:nth-child(3) {
  background-image: url(https://w.namu.la/s/6c14f00ab264dcaaeeb1802f4d660f360a2c1176b3ec09d6e720c46fbdea8fa32123c6ee5a9533095bfa54b494d2f42b534440ab762a4efe7bed1f37caf3598c304f8c68ad22664df5f299a6deb332c7a6c14588dc7f1d119e4c503107064a16);
  background-size: cover;
}
.box_top_4box_image:nth-child(4) {
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: #3f67ff;
  text-align: center;
  padding-top: 10px;
}

.box_top_3box {
  display: flex;
}

.box_top_3box_text {
  margin: 10px;
  z-index: 2;
}

.box_top_3box_text:nth-child(1) {
  background-color: #dce2f8;
  width: 60px;
  height: px;
  border-radius: 10px 10px 10px 0px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
  margin-left: 25px;
  color: #3f67ff;
}

.box_top_3box_text:nth-child(2) {
  background-color: #dce2f8;
  width: 100px;
  height: 30px;
  border-radius: 10px 10px 10px 0px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
  color: #3f67ff;
}

.box_top_3box_text:nth-child(3) {
  background-color: #dce2f8;
  width: 80px;
  height: 30px;
  border-radius: 10px 10px 10px 0px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
  color: #3f67ff;
}

.box_mid {
  width: 400px;
  position: relative;
}

.box_mid_nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.box_mid_nav_left {
  font-size: 30px;
  font-weight: 700;
  margin-left: 25px;
}

.box_mid_nav_right {
  color: red;
  font-size: 20px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 100px 1px black;
  text-align: center;
  padding-top: 1px;
  margin-right: 25px;
  margin-top: 10px;
}

.box_mid_nav_temp {
  margin-left: 25px;
  margin-top: 5px;
  font-size: 15px;
  display: flex;
}

.this {
  color: #3f67ff;
}

.box_mid_text {
  opacity: 0.3;
  margin-left: 10px;
  font-weight: 700;
}

.box_mid_header {
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.box_mid_header_left {
  color: #ffbb00;
}

.box_mid_header_left_text {
  color: black;
  font-weight: 700;
  margin-left: 5px;
}

.box_mid_header_right {
  font-weight: 700;
  opacity: 0.3;
  margin-right: 25px;
}

.box_mid_body {
  margin-left: 25px;
  margin-top: 15px;
}

.box_mid_body_top {
  font-weight: 700;
  opacity: 0.3;
  font-size: 13px;
}

.span_mid_body_mid1 {
  font-weight: 700;
  opacity: 0.5;
  margin-top: 3px;
  font-size: 15px;
}

.mid_stick {
  background-color: #3f67ff;
  width: 50px;
  height: 2.5px;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 97px;
}

.box_mid_bottom {
  font-weight: 700;
  color: #3f67ff;
  margin-top: 10px;
}

.box_bottom {
  width: 400px;
  height: 65px;
  border-radius: 40px;
  background-color: white;
  position: absolute;
  z-index: 3;
}

.box_bottom_font {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.box_bottom_font_left {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-left: 35px;
  margin-top: 15px;
}

.fa-globe-americas {
  color: #3f67ff;
}

.box_bottom_font_right {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-right: 35px;
  margin-top: 15px;
}

.bottom_stick {
  background-color: gray;
  width: 120px;
  height: 2.5px;
  border-radius: 5px;
  opacity: 0.3;
  margin-left: 145px;
  margin-top: 15px;
}

.out_circle {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: gray;
  opacity: 0.4;
  border-radius: 45px;
  margin-left: 155px;
  background: linear-gradient(to bottom, gray rgba(255, 255, 255, 1));
}

.in_circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: absolute;
  background-color: #3f67ff;
  color: white;
  text-align: center;
  font-size: 22px;
  padding-top: 13px;
  margin-top: 15px;
  margin-left: 170px;
  z-index: 4;
}
