* {
  box-sizing: border-box;
}

html,
body {
  background-color: gray;
  opacity: 0.7;
  width: 750px;
  height: 800px;
}

.box_seventh {
  margin-bottom: 80px;
  width: 440px;
  height: 330px;
  text-align: left;
  position: relative;
  background-color: grey;
}

.seventh {
  width: 440px;
  height: 330px;
}
